<?xml version="1.0" encoding="utf-8"?>
<openbox_menu xmlns="http://openbox.org/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://openbox.org/                 file:///usr/share/openbox/menu.xsd">
	<menu id="root-menu" label="Openbox 3">
		<item label="To Do">
			<action name="Execute">
				<execute>mousepad &quot;/home/jay/projects/to_do.txt&quot;</execute>
			</action>
		</item>
		<item label="Terminal">
			<action name="Execute">
				<execute>terminator</execute>
			</action>
		</item>
		<separator/>
		<item label="E-Mail">
			<action name="Execute">
				<execute>/home/jay/bin/thunderbird/thunderbird</execute>
			</action>
		</item>
		<item label="Browser">
			<action name="Execute">
				<execute>/home/jay/bin/firefox/firefox</execute>
			</action>
		</item>
		<item label="Quassel">
			<action name="Execute">
				<execute>quasselclient</execute>
			</action>
		</item>
		<item label="Telegram">
			<action name="Execute">
				<execute>/home/jay/bin/telegram/Telegram</execute>
			</action>
		</item>
		<item label="htop">
			<action name="Execute">
				<execute>urxvt -e htop</execute>
			</action>
		</item>
		<item label="Virt Manager">
			<action name="Execute">
				<execute>virt-manager</execute>
			</action>
		</item>
		<separator/>
		<item label="Finances">
			<action name="Execute">
				<execute>soffice &quot;/home/jay/documents/finances/budget.ods&quot;</execute>
			</action>
		</item>
		<item label="Game Queue">
			<action name="Execute">
				<execute>mousepad /home/jay/documents/lists/video_game_queue.txt</execute>
			</action>
		</item>
		<item label="Home Network Layout">
			<action name="Execute">
				<execute>soffice &quot;/home/jay/documents/home_network/network_layout.ods&quot;</execute>
			</action>
		</item>
		<item label="Home Network Passwords">
			<action name="Execute">
				<execute>keepassx &quot;/home/jay/documents/home_network/passwords.kdb&quot;</execute>
			</action>
		</item>
		<item label="Journal">
			<action name="Execute">
				<execute>soffice &quot;/home/jay/documents/journals/my_journal_2015.odt&quot;</execute>
			</action>
		</item>
		<item label="Reading Queue">
			<action name="Execute">
				<execute>mousepad /home/jay/documents/lists/reading_queue.txt</execute>
			</action>
		</item>
		<separator/>
		<menu id="root-menu-67227" label="Games">
			<item label="Steam">
				<action name="Execute">
					<execute>steam</execute>
				</action>
			</item>
			<separator/>
			<item label="Minecraft">
				<action name="Execute">
					<execute>/opt/games/minecraft/minecraft.sh</execute>
				</action>
			</item>
			<item label="Nethack">
				<action name="Execute">
					<execute>urxvt -e nethack</execute>
				</action>
			</item>
		</menu>
		<menu id="root-menu-715745" label="Places">
			<item label="bin">
				<action name="Execute">
					<execute>pcmanfm -n /home/jay/bin</execute>
				</action>
			</item>
			<item label="home">
				<action name="Execute">
					<execute>pcmanfm</execute>
				</action>
			</item>
			<item label="documents">
				<action name="Execute">
					<execute>pcmanfm -n /home/jay/documents</execute>
				</action>
			</item>
			<item label="downloads">
				<action name="Execute">
					<execute>pcmanfm -n /home/jay/downloads</execute>
				</action>
			</item>
			<item label="games">
				<action name="Execute">
					<execute>pcmanfm -n /home/jay/games</execute>
				</action>
			</item>
			<item label="music">
				<action name="Execute">
					<execute>pcmanfm -n /home/jay/music</execute>
				</action>
			</item>
			<item label="pictures">
				<action name="Execute">
					<execute>pcmanfm -n /home/jay/pictures</execute>
				</action>
			</item>
			<item label="projects">
				<action name="Execute">
					<execute>pcmanfm -n /home/jay/projects</execute>
				</action>
			</item>
			<item label="scripts">
				<action name="Execute">
					<execute>pcmanfm -n /home/jay/scripts</execute>
				</action>
			</item>
			<item label="templates">
				<action name="Execute">
					<execute>pcmanfm -n /home/jay/templates</execute>
				</action>
			</item>
			<item label="videos">
				<action name="Execute">
					<execute>pcmanfm -n /home/jay/videos</execute>
				</action>
			</item>
			<separator/>
			<item label="android - camera">
				<action name="Execute">
					<execute>pcmanfm -n /share/android/camera</execute>
				</action>
			</item>
			<separator/>
			<item label="pluto - archive">
				<action name="Execute">
					<execute>pcmanfm -n /mnt/pluto/archive</execute>
				</action>
			</item>
			<item label="pluto - backups">
				<action name="Execute">
					<execute>pcmanfm -n /mnt/pluto/downloads</execute>
				</action>
			</item>
			<item label="pluto - downloads">
				<action name="Execute">
					<execute>pcmanfm -n /mnt/pluto/downloads</execute>
				</action>
			</item>
			<item label="pluto - private">
				<action name="Execute">
					<execute>pcmanfm -n /mnt/pluto/private</execute>
				</action>
			</item>
			<item label="pluto - public">
				<action name="Execute">
					<execute>pcmanfm -n /mnt/pluto/public</execute>
				</action>
			</item>
			<item label="pluto - videos">
				<action name="Execute">
					<execute>pcmanfm -n /mnt/pluto/videos</execute>
				</action>
			</item>
		</menu>
		<menu id="root-menu-314125" label="SSH">
			<item label="glycon">
				<action name="Execute">
					<execute>urxvt -e ssh glycon</execute>
				</action>
			</item>
			<item label="mail">
				<action name="Execute">
					<execute>urxvt -e ssh mail</execute>
				</action>
			</item>
			<item label="nagios">
				<action name="Execute">
					<execute>urxvt -e ssh nagios</execute>
				</action>
			</item>
			<item label="neptune">
				<action name="Execute">
					<execute>urxvt -e ssh neptune</execute>
				</action>
			</item>
			<item label="jaylacroix.com">
				<action name="Execute">
					<execute>urxvt -e ssh jaylacroix.com</execute>
				</action>
			</item>
			<item label="pi-dev">
				<action name="Execute">
					<execute>urxvt -e ssh pi-dev</execute>
				</action>
			</item>
			<item label="pluto">
				<action name="Execute">
					<execute>urxvt -e ssh pluto</execute>
				</action>
			</item>
			<item label="upsmon">
				<action name="Execute">
					<execute>urxvt -e ssh upsmon</execute>
				</action>
			</item>
		</menu>
		<menu id="settings" label="Settings">
			<item label="Edit autostart">
				<action name="Execute">
					<execute>mousepad ~/.config/openbox/autostart</execute>
				</action>
			</item>
			<item label="Edit menu.xml">
				<action name="Execute">
					<execute>mousepad ~/.config/openbox/menu.xml</execute>
				</action>
			</item>
			<item label="Edit rc.xml">
				<action name="Execute">
					<execute>mousepad ~/.config/openbox/rc.xml</execute>
				</action>
			</item>
			<item label="Openbox Config Tool">
				<action name="Execute">
					<execute>obconf</execute>
				</action>
			</item>
			<item label="Openbox Menu Editor">
				<action name="Execute">
					<execute>obmenu</execute>
				</action>
			</item>
			<item label="Pop-up Notifications">
				<action name="Execute">
					<execute>mate-notification-properties</execute>
				</action>
			</item>
			<item label="Reconfigure">
				<action name="Reconfigure"/>
			</item>
			<item label="Screensaver">
				<action name="Execute">
					<execute>xscreensaver-demo</execute>
				</action>
			</item>
			<item label="User Interface Settings">
				<action name="Execute">
					<execute>lxappearance</execute>
				</action>
			</item>
			<item label="Wallpaper">
				<action name="Execute">
					<execute>nitrogen</execute>
				</action>
			</item>
		</menu>
		<separator/>
		<item label="Lock screen">
			<action name="Execute">
				<execute>xscreensaver-command --lock</execute>
			</action>
		</item>
		<item label="Suspend">
			<action name="Execute">
				<execute>systemctl suspend</execute>
			</action>
		</item>
		<menu id="root-menu-115432" label="Exit">
			<item label="Log off">
				<action name="Exit"/>
			</item>
			<item label="Restart">
				<action name="Execute">
					<execute>systemctl reboot</execute>
				</action>
			</item>
			<item label="Shut down">
				<action name="Execute">
					<execute>systemctl poweroff</execute>
				</action>
			</item>
		</menu>
	</menu>
</openbox_menu>
