[Desktop Entry]
Version=1.0
Type=Application
Name=Thunderbird
Categories=Network;MailClient;
Exec=/home/jay/bin/apps/thunderbird/thunderbird
Icon=/home/jay/bin/apps/thunderbird/chrome/icons/default/default256.png
Path=/home/jay/bin/apps/thunderbird/
Terminal=false
