Banner /etc/issue.net
PrintMOTD no

Port {{ ansible_ssh_port }}
Protocol 2

# Authentication:
AllowUsers jay upsagent
ChallengeResponseAuthentication no
HostbasedAuthentication no
LoginGraceTime 120
PasswordAuthentication {{ passwd_auth }}
PermitEmptyPasswords no
PermitRootLogin no
PubkeyAuthentication yes
RhostsRSAAuthentication no
RSAAuthentication yes
StrictModes yes
UsePAM yes

# Security
HostKey /etc/ssh/ssh_host_dsa_key
HostKey /etc/ssh/ssh_host_ecdsa_key
HostKey /etc/ssh/ssh_host_ed25519_key
HostKey /etc/ssh/ssh_host_rsa_key
IgnoreRhosts yes
KeyRegenerationInterval 3600
ServerKeyBits 1024
UsePrivilegeSeparation yes

# Misc. options
AcceptEnv LANG LC_*
TCPKeepAlive yes
Subsystem sftp /usr/libexec/openssh/sftp-server

# Logging
SyslogFacility AUTH
LogLevel INFO
