[Desktop Entry]
Version=1.0
Type=Application
Name=Firefox
Categories=Network;WebBrowser;
Exec=/home/jay/bin/firefox/firefox %u
Icon=/home/jay/bin/firefox/browser/icons/mozicon128.png
Path=/home/jay/bin/firefox/
Terminal=false
